html,
body,
::after,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#contact_modal {
  display: none;
}

/* ================ (Main) section photograph-header ================ */
.photograph-header {
  background-color: #fafafa;
  min-height: 300px;
  margin: 0 100px;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}

.photograph-header .wrap-header {
  width: 100%;
  display: flex;
  margin: 0 50px;
  justify-content: space-between;
  align-items: center;
}

.photograph-header .left h2 {
  color: #d3573c;
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  font-size: 64px;
  margin: 0;
}

.photograph-header .left .location {
  font-size: 24px;
  margin: 5px 0;
  font-weight: 550;
  color: #901c1c;
}

.photograph-header .left .tagline {
  font-size: 18px;
}

.photograph-header img {
  margin-right: 10px;
  margin-left: 20px;
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin: 0 20px;
  min-width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background: #db8876;
  color: #002;
}

/* ================ (Main) section gallery medias ================ */
.container-gallery {
  margin: 0 100px;
}

.container-gallery .section-sort {
  /* background: #d4d4; */
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.container-gallery .section-sort label {
  font-size: 18px;
  font-weight: 600;
}

.container-gallery .section-sort button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 8px 15px;
  width: 170px;
  font-size: 18px;
  color: #fafafa;
  background-color: #901c1c;
  border: none;
  text-align: left;
  border-radius: 6px;
}

.container-gallery .section-sort button img {
  margin-left: 30px;
}

.container-gallery .section-sort select {
  cursor: pointer;
  margin-left: 20px;
  padding: 5px;
  width: 170px;
  font-size: 18px;
  color: #fafafa;
  background-color: #901c1c;
  border-radius: 5px;
}

.container-gallery .section-sort select:hover {
  background: #db8876;
  color: #002;
  font-weight: bold;
}

.container-gallery .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  column-gap: 100px;
  margin-bottom: 50px;
  row-gap: 50px;
}

.gallery .card .card__overlay {
  display: flex;
}

.gallery .card .card__title {
  display: flex;
  flex: 1;
}

.gallery .card .card__title {
  font-size: 24px;
  font-weight: 599;
  color: #901c1c;
}

.gallery .card .card__likes {
  display: flex;
  justify-content: end;
  margin-top: 13px;
  flex: 0.4;
}

.gallery .card .card__likes p {
  width: 100%;
  text-align: right;
}

.gallery img {
  object-fit: cover;
  border-radius: 6px;
  width: 100%;
  height: 300px;
}

.gallery video {
  object-fit: cover;
  height: 300px;
  border-radius: 6px;
  width: 100%;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* ============== Responsive 1024 px ============== */
@media screen and (max-width: 1024px) {
  .photograph-header {
    flex-direction: column;
    height: initial;
  }

  .photograph-header .wrap-header {
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
  }

  .contact_button {
    margin: 50px 0;
  }

  .container-gallery {
    margin: 0 40px;
  }

  .container-gallery .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ============== Responsive 672 px ============== */
@media screen and (max-width: 672px) {
  .container-gallery .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ============== Responsive 512 px ============== */
@media screen and (max-width: 512px) {
  header a {
    padding: 0;
    margin-right: 100px;
  }
  .photograph-header {
    flex-direction: column;
    height: initial;
    margin: 0;
  }

  .photograph-header .wrap-header {
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
  }

  .contact_button {
    margin: 50px 0;
  }
}
