html,
body,
::after,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: #fff;
}

#contact_modal {
  display: none;
}

/* ================ (Main) section photograph-header ================ */
.photograph-header {
  background-color: #fafafa;
  min-height: 300px;
  margin: 0 100px;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}

.photograph-header .wrap-header {
  width: 100%;
  display: flex;
  margin: 0 50px;
  justify-content: space-between;
  align-items: center;
}

.photograph-header .left h2 {
  color: #d3573c;
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  font-size: 64px;
  margin: 0;
}

.photograph-header .left .location {
  font-size: 24px;
  margin: 5px 0;
  font-weight: 550;
  color: #901c1c;
}

.photograph-header .left .tagline {
  font-size: 18px;
}

.photograph-header img {
  margin-right: 10px;
  margin-left: 20px;
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin: 0 20px;
  min-width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background: #db8876;
  color: #002;
}

/* ================ (Main) section gallery medias ================ */
.container-gallery {
  margin: 0 100px;
}

.container-gallery .section-sort {
  /* background: #d4d4; */
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.container-gallery .section-sort label {
  font-size: 18px;
  font-weight: 600;
}

.container-gallery .section-sort button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 8px 15px;
  width: 170px;
  font-size: 18px;
  color: #fafafa;
  background-color: #901c1c;
  border: none;
  text-align: left;
  border-radius: 6px;
}

.container-gallery .section-sort button img {
  margin-left: 30px;
}

.container-gallery .section-sort select {
  cursor: pointer;
  margin-left: 20px;
  padding: 5px;
  width: 170px;
  font-size: 18px;
  color: #fafafa;
  background-color: #901c1c;
  border-radius: 5px;
}

.container-gallery .section-sort select:hover {
  background: #db8876;
  color: #002;
  font-weight: bold;
}

.container-gallery .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  column-gap: 100px;
  margin-bottom: 50px;
  row-gap: 50px;
}

.gallery .card .card__overlay {
  display: flex;
}

.gallery .card .card__title {
  display: flex;
  flex: 1;
}

.gallery .card .card__title {
  font-size: 24px;
  font-weight: 599;
  margin-right: 10px;
  color: #901c1c;
}

.gallery .card .card__likes {
  display: flex;
  justify-content: end;
  height: 100%;
}

.gallery .card .card__likes .js-photoLike {
  width: 100%;
  display: flex;
  flex: 0.4;
  text-align: right;
  margin-top: 30px;
  cursor: pointer;
}

.gallery .card .card__likes .js-photoLike .like {
  display: flex;
  margin: 0;
  font-size: initial;
  color: #901c1c;
  font-weight: bold;
}

.gallery .card .card__likes .js-photoLike .heart {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #901c1c;
  opacity: 1;
  position: relative;
}

.gallery .card .card__likes .js-photoLike .heart .js-heartSolid {
  position: absolute;
  left: 0;
  opacity: 0;
}

.gallery .card .card__likes .js-photoLike .heart .js-heartSolid.show {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.gallery .card img {
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  height: 300px;
}

.gallery video {
  object-fit: cover;
  height: 300px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}

.total-likes {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  color: #002;
  font-weight: bold;
  font-size: 18px;
  right: 30px;
  border-radius: 5px 5px 0 0;
  background: #db8876;
  width: 300px;
  height: 50px;
}

.total-likes #js-price {
  padding-right: 20px;
}

.total-likes .container-totalLikes {
  display: flex;
  color: #002;
  font-weight: bold;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
}

.total-likes .container-totalLikes span {
  margin-left: 10px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.911);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* display: none */
  transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
}
.lightbox .lightbox__loader {
  width: 38px;
  height: 38px;
  z-index: 99999999;
  background: url(../assets/images/loader.svg);
  background-repeat: no-repeat;
  position: fixed;
  /* padding: 0 100px; */
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightbox.show {
  opacity: 1;
  z-index: 10;
}

.lightbox.hide {
  opacity: 0;
  z-index: -10;
}

.lightbox .lightbox__container {
  position: relative;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.lightbox .wrap-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  animation: lightboxIn 0.5s;
}

.lightbox .wrap-imgVideoLightbox {
  height: 80vh;
}

.lightbox .lightbox__next,
.lightbox__prev {
  background: url(../assets/images/arrow.svg) center center / 100% 100%;
  height: 50px;
  max-width: 20px;
  position: absolute;
  top: 45%;
  right: -25%;
  margin: 0 3%;
  margin-top: -15px;
  z-index: 11;
  opacity: 0.8;
  text-indent: -3000px;
  transition: 0.3s;
  padding: 0 10%;
}

.lightbox .lightbox__next:hover,
.lightbox__prev:hover {
  opacity: 1;
}

.lightbox .lightbox__next {
  position: absolute;
  right: auto;
  left: -25%;
  transform: rotate(180deg);
}
.lightbox .lightbox__close {
  position: absolute;
  border: none;
  width: 35px;
  height: 35px;
  background: url(../assets/images/close.svg) center center / 100% 100%;
  text-indent: -30000px;
  cursor: pointer;
  top: 3.2%;
  right: -20%;
  margin-right: 5%;
}

.lightbox .lightbox__title {
  color: #901c1c;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.lightbox .wrap-imgVideoLightbox img,
.lightbox .wrap-imgVideoLightbox video {
  object-fit: contain;
  max-height: 100%;
}

/* ============== Responsive 1024 px ============== */
@media screen and (max-width: 1024px) {
  .photograph-header {
    flex-direction: column;
    height: initial;
  }

  .photograph-header .wrap-header {
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
  }

  .contact_button {
    margin: 50px 0;
  }

  .container-gallery {
    margin: 0 40px;
  }

  .container-gallery .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .lightbox .lightbox__container {
    width: 100%;
  }

  .lightbox .wrap-content {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .lightbox .lightbox__close {
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    z-index: 10;
  }

  .lightbox .lightbox__next,
  .lightbox__prev {
    width: 30px;
    height: 30px;
    top: 48%;
    left: -5%;
  }

  .lightbox .lightbox__prev {
    left: 74%;
  }

  .lightbox .wrap-content {
    height: 100%;
  }
  .lightbox .wrap-imgVideoLightbox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lightbox .wrap-imgVideoLightbox img,
  .lightbox .wrap-imgVideoLightbox video {
    width: 100%;
    height: 100%;
  }

  .lightbox .lightbox__title {
    /* position: absolute; */
    bottom: 0;
    margin-left: 25px;
    font-size: 18px;
  }
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ============== Responsive 672 px ============== */
@media screen and (max-width: 672px) {
  .container-gallery .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ============== Responsive 512 px ============== */
@media screen and (max-width: 512px) {
  header a {
    padding: 0;
    margin-right: 100px;
  }
  .photograph-header {
    flex-direction: column;
    height: initial;
    margin: 0;
  }

  .photograph-header .wrap-header {
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
  }

  .total-likes {
    width: 200px;
    font-size: 14px;
  }

  .total-likes .container-totalLikes {
    font-size: 14px;
  }

  .contact_button {
    margin: 50px 0;
  }
}
